<div class="statistics-page">
  <app-nav />
  <app-hero [selectedYear]="year" />
  <div class="statistics-page-content">
    @if (showInterimView) {
      <app-statistics-not-enough-data [stats]="interimStatsData" />
    } @else {
      <app-statistics-stats-card-container [cards]="statsCardsData" />
      <app-statistics-monhtly-bar-chart [monthlyClimbs]="monthlyChartData" />
      <app-statistics-cumulative-elevation-chart [cumulativeElevation]="cumulativeElevationData" />
      <app-statistics-ranking-container [rankings]="rankings?.rankings ?? []" />
    }
  </div>
</div>
