@use '../../../styles/variables.scss' as *;

.statistics-page {
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  align-content: start;
  background-color: var(--color-bg-secondary);
  min-height: 100vh;

  &-content {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    overflow-x: hidden;

    @include min-breakpoint(s) {
      padding: 2rem 1.5rem;
    }
  }
}
