<div class="stats-card-container">
  <app-statistics-stats-card
    color="orange"
    title="Title 1"
    value="Value 1"
    claim="Claim 1"
    position="1"
  />
  <app-statistics-stats-card
    color="amber"
    title="Title 2"
    value="Value 2"
    claim="Claim 2"
    position="2"
  />
  <app-statistics-stats-card
    color="stone"
    title="Title 3"
    value="Value 3"
    claim="Claim 3"
    position="3"
  />
  <app-statistics-stats-card
    color="rose"
    title="Title 4"
    value="Value 4"
    claim="Claim 4"
    position="4"
  />
</div>
<div class="carousel-dots">
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '1' }"
    (click)="scrollToCard('1')"
  ></button>
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '2' }"
    (click)="scrollToCard('2')"
  ></button>
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '3' }"
    (click)="scrollToCard('3')"
  ></button>
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '4' }"
    (click)="scrollToCard('4')"
  ></button>
</div>
