<div class="stats-card-container">
  @for (card of cards; track card.position) {
    <app-statistics-stats-card
      [color]="card.color"
      [title]="card.title"
      [value]="card.value"
      [claim]="card.claim"
      [position]="card.position"
    />
  }
</div>
<div class="carousel-dots">
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '1' }"
    (click)="scrollToCard('1')"
  ></button>
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '2' }"
    (click)="scrollToCard('2')"
  ></button>
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '3' }"
    (click)="scrollToCard('3')"
  ></button>
  <button
    [ngClass]="{ dot: true, active: carouselActiveDotIndex === '4' }"
    (click)="scrollToCard('4')"
  ></button>
</div>
