<div class="ranking-container">
  <app-statistics-section-header [title]="'stats.ranking.title' | translate" />
  <div class="list">
    @for (ranking of rankings; track ranking.mountainName; let i = $index) {
      <app-statistics-ranking-card
        [mountain]="ranking.mountainName"
        [visits]="ranking.totalClimbs"
        [rank]="toRank(i)"
        [elevation]="ranking.totalElevationGain"
        [altitude]="ranking.altitude"
        [sharePercentage]="ranking.totalElevationGainSharePercentage"
      />
    }
  </div>
</div>
