<div class="ranking-container">
  <app-statistics-section-header title="Nejčastěji navštěvované hory" />
  <div class="list">
    <app-statistics-ranking-card mountain="Milesovka" [visits]="10" [rank]="1" [elevation]="812" />
    <app-statistics-ranking-card mountain="Snezka" [visits]="8" [rank]="2" [elevation]="1603" />
    <app-statistics-ranking-card mountain="Lovos" [visits]="7" [rank]="3" [elevation]="570" />
    <app-statistics-ranking-card mountain="Praded" [visits]="6" [rank]="4" [elevation]="1491" />
    <app-statistics-ranking-card
      mountain="Kralicky Sneznik"
      [visits]="5"
      [rank]="5"
      [elevation]="1423"
    />
  </div>
</div>
