@use "../../styles/_colors.scss" as *;

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 6rem;
  right: 2rem;
  width: 90vw;
  height: 70vh;
  background-color: $white;
  z-index: 3;
  color: $black;
  opacity: 0.9;
  border: 0.5rem solid $primary-light;
}
