@use '../../styles/_colors.scss' as *;

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding: 2rem;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  width: 90vw;
  height: 70vh;
  background-color: rgba($white, 0.9);
  z-index: 3;
  color: $black;
  border: 0.5rem solid $primary-light;

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: $primary-heavy;

    .icon {
      width: 2rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
