<app-nav></app-nav>
<div class="detail-page">
  <app-detail-page-hero></app-detail-page-hero>

  <section class="stats-section">
    <div class="stats-container">
      <app-stats-card
        icon="arrow-up"
        label="Převýšení"
        value="2,256 m"
        color="orange"
      ></app-stats-card>

      <app-stats-card
        icon="footprints"
        label="Vzdálenost"
        value="29.2 km"
        color="amber"
      ></app-stats-card>

      <app-stats-card icon="clock" label="Čas" value="8:03:36" color="stone"></app-stats-card>

      <app-stats-card icon="heart" label="Prům. tep" value="134 bpm" color="rose"></app-stats-card>
    </div>
  </section>
</div>
