<div class="switcher">
  <button class="arrow left" (click)="setPreviousMountainName()">&larr;</button>
  <div
    *ngIf="mapService.isShowingTrackOnMap()"
    class="toolbar"
    (click)="hideTrack()"
  >
    Hide track preview
  </div>
  <div
    *ngIf="!mapService.isShowingTrackOnMap()"
    class="toolbar"
    (click)="toggleMountainDetail()"
  >
    {{ mountainStateService.mountainName() }}
  </div>
  <button class="arrow right" (click)="setNextMountainName()">&rarr;</button>
</div>
<app-mountain-detail
  *ngIf="showMountainDetail"
  mountain="{{ mountainStateService.mountainName() }}"
></app-mountain-detail>
