@use "../../styles/_colors.scss" as *;
.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 12.5rem;
  height: 4.375rem;
  background-color: $primary-light;
  z-index: 3;
  color: $white;
}

.toolbar {
  margin: 0 1rem;
}
