<div class="image-overlay" [class.show]="isVisible">
  <img [src]="imageUrl" [alt]="altText" class="overlay-image" />

  <div class="overlay-navigation" *ngIf="canShowNavigation">
    <button class="overlay-nav-button prev" (click)="onPrevClick()" aria-label="Previous image">
      <img src="./img/icons/arrow_left.svg" alt="Previous" class="nav-arrow-svg" />
    </button>
    <button class="overlay-nav-button next" (click)="onNextClick()" aria-label="Next image">
      <img src="./img/icons/arrow_right.svg" alt="Next" class="nav-arrow-svg" />
    </button>
  </div>

  <!-- Close Button -->
  <button
    class="overlay-close-button"
    (click)="closeOverlay.emit()"
    aria-label="Close image preview"
  >
    ✕
  </button>
</div>
