<table>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngClass]="{
          desktop: column.onDesktopOnly,
          lastCol: column?.isLast ?? false,
        }"
        [attr.colspan]="column.isLast ? 2 : 1"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let climb of mountainDetail.climbs">
      <tr>
        <td>{{ climb.date }}</td>
        <td class="desktop thumbnail-cell">
          <ng-container *ngIf="climb.imgs && climb.imgs.length > 0">
            <!-- Loading State -->
            <div *ngIf="isThumbnailLoading(climb.id)" class="thumbnail-loading">
              <div class="thumbnail-spinner"></div>
            </div>

            <!-- Error State -->
            <div
              *ngIf="hasThumbnailError(climb.id)"
              class="thumbnail-error"
              title="Failed to load thumbnail"
            >
              ⚠️
            </div>

            <!-- Thumbnail Image -->
            <img
              *ngIf="getThumbnailUrl(climb.id)"
              [src]="getThumbnailUrl(climb.id)"
              alt="climb thumbnail"
              class="thumbnail-image"
              (click)="showThumbnail(climb.id)"
            />
          </ng-container>
        </td>
        <td class="large">{{ climb.description }}</td>
        <td class="desktop">{{ climb.distance }}</td>
        <td class="desktop">{{ climb.elevationGain }}</td>
        <td class="desktop">{{ climb.heartRate }}</td>
        <td>{{ climb.duration }}</td>
        <td>
          <app-mountain-detail-expand-icon
            [isExpanded]="expandedColumn === climb.id"
            (click)="expandColumn(climb.id)"
          />
        </td>
      </tr>
      <app-mountain-detail-expand-content
        [expanded]="expandedColumn === climb.id"
        [content]="climb"
        [mountainName]="mountainName"
      />
    </ng-container>
  </tbody>
</table>
