<table>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngClass]="{ mobile: column.onMobile }"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let climb of mountainDetail.climbs">
      <td class="mobile">{{ climb.date }}</td>
      <td>
        <img
          src="{{ climb.img }}"
          alt="climb thumbnail"
          (click)="showThumbnail(climb.id)"
          *ngIf="climb.img"
        />
      </td>
      <td class="large mobile">{{ climb.description }}</td>
      <td class="mobile">{{ climb.duration }}</td>
      <td>{{ climb.distance }}</td>
      <td>{{ climb.heartRate }}</td>
      <app-mountain-detail-thumbnail
        *ngIf="thumbnailId === climb.id && climb.img"
        [imageUrl]="climb.img"
        (click)="hideThumbnail()"
        [isVisible]="thumbnailId === climb.id"
      />
    </tr>
  </tbody>
</table>
