<table>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngClass]="{
          desktop: column.onDesktopOnly,
          lastCol: column?.isLast ?? false
        }"
        [attr.colspan]="column.isLast ? 2 : 1"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let climb of mountainDetail.climbs">
      <tr>
        <td>{{ climb.date }}</td>
        <td class="desktop">
          <img
            *ngIf="climb.imgs && climb.imgs.length > 0"
            [src]="imageService.getCdnUrl(climb.imgs[0])"
            alt="climb thumbnail"
            (click)="showThumbnail(climb.id)"
          />
        </td>
        <td class="large">{{ climb.description }}</td>
        <td class="desktop">{{ climb.distance }}</td>
        <td class="desktop">{{ climb.elevationGain }}</td>
        <td class="desktop">{{ climb.heartRate }}</td>
        <td>{{ climb.duration }}</td>
        <td>
          <app-mountain-detail-expand-icon
            [isExpanded]="expandedColumn === climb.id"
            (click)="expandColumn(climb.id)"
          />
        </td>
      </tr>
      <app-mountain-detail-expand-content
        [expanded]="expandedColumn === climb.id"
        [content]="climb"
      />
    </ng-container>
  </tbody>
</table>
