@use "../../../styles/_colors.scss" as *;
@use "../../../styles/_variables.scss" as *;

// Reset table element styles
table,
thead,
tbody,
tr,
th,
td {
  all: unset;
  box-sizing: border-box;
}

$grid-template-columns-mobile: minmax(40px, 1fr) minmax(60px, 2fr)
  minmax(20px, 0.5fr) minmax(20px, 0.5fr);
$grid-template-columns-desktop: minmax(20px, 1fr) minmax(20px, 0.75fr)
  minmax(60px, 2fr) minmax(20px, 1fr) minmax(20px, 1fr) minmax(20px, 1fr)
  minmax(20px, 0.5fr);
$border: 1px solid $primary-light;

table {
  background-color: $white;
  color: $black;
  display: block;

  thead {
    width: 100%;
    tr {
      display: grid;
      grid-template-columns: $grid-template-columns-mobile;
      border-top: $border;
      border-left: $border;

      @include min-breakpoint("m") {
        grid-template-columns: $grid-template-columns-desktop;
      }

      th {
        padding: 10px;
        background-color: $primary-heavy;
        color: $white;
        text-align: left;
        font-weight: bold;
        border-bottom: $border;
        border-right: $border;

        &.lastCol {
          grid-column: span 2;
        }

        &.desktop {
          display: none;

          @include min-breakpoint("m") {
            display: grid;
          }
        }
      }
    }
  }

  tbody {
    width: 100%;
    tr {
      display: grid;
      grid-template-columns: $grid-template-columns-mobile;
      grid-auto-flow: row;
      border-top: $border;
      border-left: $border;

      @include min-breakpoint("m") {
        grid-template-columns: $grid-template-columns-desktop;
      }

      &:nth-child(even) {
        background-color: rgba($secondary-heavy, 0.2);
      }

      &:nth-child(odd) {
        border-top: none;
        background-color: $white;
      }
    }

    td {
      padding: 10px;
      border-bottom: $border;
      border-right: $border;
      align-items: center;

      &.desktop {
        display: none;

        @include min-breakpoint("m") {
          display: grid;
        }
      }

      &:last-child {
        padding: 5px;
        border-left: none;
      }

      &:nth-last-child(2) {
        border-right: none;
      }

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
