@use "../../styles/_colors.scss" as *;

:host {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
}

.leaflet-map {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.map {
  border: 1px solid $primary-light;
}
