<div class="not-enough-data">
  <div class="header">
    <div class="icon-wrapper">
      <app-icon icon="mountain" fill="white" background="rose" [size]="48" [rounded]="true" />
    </div>
    <h2 class="title">{{ 'stats.notEnoughData.title' | translate }}</h2>
    <p class="description">
      {{ 'stats.notEnoughData.description' | translate: { year: currentYear } }}
    </p>
  </div>

  <div class="interim-cards">
    <app-statistics-interim-progress-card
      [title]="'stats.climbCount' | translate"
      [value]="stats.totalClimbs.toString()"
      color="amber"
    />
    <app-statistics-interim-progress-card
      [title]="'stats.elevation' | translate"
      [value]="stats.totalElevationGain | elevation"
      color="orange"
    />
  </div>
</div>
