<div class="not-enough-data">
  <div class="header">
    <div class="icon-wrapper">
      <app-icon icon="mountain" fill="white" background="rose" [size]="48" [rounded]="true" />
    </div>
    <h2 class="title">Zatím málo dat</h2>
    <p class="description">
      V roce 2026 máš teprve pár výstupů, takže statistiky ještě nemají moc smysl. Vyraz ještě pár
      krát a uvidíš tady pěkný grafy!
    </p>
  </div>

  <div class="interim-cards">
    <app-statistics-interim-progress-card
      title="Výstupů"
      [value]="stats.totalClimbs.toString()"
      color="amber"
    />
    <app-statistics-interim-progress-card
      title="Převýšení"
      [value]="stats.totalElevationGain | elevation"
      color="orange"
    />
  </div>
</div>
