<div class="unlock-gallery-container">
  <div
    class="icon-button"
    (click)="onIconClick()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <app-icon
      [icon]="isLocked() ? 'lock' : 'unlock'"
      [stroke]="isSubmitting() ? 'text-muted' : 'primary-dark'"
      fill="none"
      [size]="32"
    ></app-icon>
  </div>

  @if (isHovering()) {
    <div class="hover-tooltip">
      <span>{{ 'gallery.unlockHint' | translate }}</span>
    </div>
  }

  @if (showPasswordInput()) {
    <div class="password-input-container">
      <input
        type="password"
        class="password-input"
        [(ngModel)]="password"
        [placeholder]="'gallery.password' | translate"
        (keyup.enter)="onSubmitPassword()"
      />
      <button class="submit-button" (click)="onSubmitPassword()" [disabled]="!password()">
        <app-icon icon="chevron-right" fill="none" stroke="primary-light" [size]="20"></app-icon>
      </button>
    </div>
  }
</div>
