<div class="ranking-card">
  <div class="icon">
    <app-statistics-rank-icon [rank]="rank" />
  </div>
  <div class="mountain">
    <h3>{{ mountain }}</h3>
    <p>{{ altitude }} {{ 'stats.ranking.altitude' | translate }}</p>
  </div>
  <div class="climbs">
    <p>{{ visits }} x</p>
    <p>{{ 'stats.ranking.climbs' | translate }}</p>
  </div>
  <div class="elevation">
    <div class="elevation-value">
      <app-icon icon="trending-up" stroke="primary-dark" fill="none" [size]="16" />
      {{ elevation | elevation }}
    </div>
    <div class="progress-bar-container">
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.--progress]="sharePercentage * 100 + '%'"
          aria-hidden="true"
        ></div>
      </div>
    </div>
  </div>
</div>
