<div class="container">
  <app-statistics-section-header title="Výstupy za měsíc" />
  <div>
    <ngx-charts-bar-vertical
      [results]="data"
      [gradient]="chartOptions.gradient"
      [xAxis]="chartOptions.showXAxis"
      [yAxis]="chartOptions.showYAxis"
      [legend]="chartOptions.showLegend"
      [showXAxisLabel]="chartOptions.showXAxisLabel"
      [showYAxisLabel]="chartOptions.showYAxisLabel"
      [xAxisLabel]="chartOptions.xAxisLabel"
      [yAxisLabel]="chartOptions.yAxisLabel"
      [scheme]="chartOptions.colorScheme"
      [showGridLines]="chartOptions.showGridLines"
      [xAxisTickFormatting]="chartOptions.formatXAxisLabel"
    >
      ></ngx-charts-bar-vertical
    >
  </div>
</div>
